h2 {
    color: green
  }

  body {
    background-color: aqua;
    color: black;
  }

  #Descrição {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    top: 36%;
    right: 30%;
  }

  p {
    font-style: italic;
  }

  .skill1 {
    font-size: 20px;
  }

  .skill2 {
    font-size: 18px;
  }

  .skill3 {
    font-size: 16px;
  }

  #picture {
    float: left;
    height: 280px;
    padding: 10px;
    background-color: lightblue;
  }

  h1 {
    text-align: center;
    color: purple;
  }

  .pic-container {
    height: 300px;
    position: relative;
  }

  ul li:nth-child(odd) {
    background-color: lightcyan
  }