.navbar {
  top: 0;
  left: 0;
  height: 100vh;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-weight: bold;
  font-size: 18px;
  z-index: 1;
  padding: 15px;
  position: fixed;
}

.navbar ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}

.navbar li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.navbar a {
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease;
  display: inline-block;
  margin: 10px 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

.theme-switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 40px;
  background-color: #ccc;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 0;
  overflow: hidden;
  margin-bottom: 20px;
}

.switch-text {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.switch-slider {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 36px;
  height: 36px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.theme-switch.dark {
  background-color: #333;
}

.theme-switch.dark .switch-slider {
  transform: translateX(40px);
}
